{% extends "home/header.html" %}
{% load static %}

{% block title %} Blog {% endblock title %}

{% block breadcrum %} Blog {% endblock breadcrum %}

{% block subtitle %} You came here to Blog at right place {% endblock subtitle%}

{% block page_title %} Blog {% endblock page_title %}

{% block content %}

    <section class="blog_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single_blog blog--default">
                        <figure>
                            <img src="images/bb1.jpg" alt="Blog image">

                            <figcaption>
                                <div class="blog__content">
                                    <a href="#" class="blog__title">
                                        <h4>Top Web Design Trends You Must Know in 2017</h4>
                                    </a>

                                    <div class="blog__meta">
                                        <div class="author">
                                            <span class="lnr lnr-user"></span>
                                            <p>by
                                                <a href="#">AazzTech</a>
                                            </p>
                                        </div>
                                        <div class="date_time">
                                            <span class="lnr lnr-clock"></span>
                                            <p>24 Feb 2017</p>
                                        </div>
                                        <div class="comment_view">
                                            <p class="comment">
                                                <span class="lnr lnr-bubble"></span>45</p>
                                            <p class="view">
                                                <span class="lnr lnr-eye"></span>345</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn_text">
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the
                                        mattis, leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo consequat. Duis aute irure dolor in henderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat sunt in culpa qui officia
                                        sunt in culpa qui officia.</p>
                                    <a href="single-blog.html" class="btn btn--md btn--round">Read More</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end /.single_blog -->

                    <div class="single_blog blog--default">
                        <figure>
                            <img src="images/bb2.jpg" alt="Blog image">

                            <figcaption>
                                <div class="blog__content">
                                    <a href="#" class="blog__title">
                                        <h4>50+ Best Free Responsive WordPress Themes in 2017</h4>
                                    </a>

                                    <div class="blog__meta">
                                        <div class="author">
                                            <span class="lnr lnr-user"></span>
                                            <p>by
                                                <a href="#">AazzTech</a>
                                            </p>
                                        </div>
                                        <div class="date_time">
                                            <span class="lnr lnr-clock"></span>
                                            <p>24 Feb 2017</p>
                                        </div>
                                        <div class="comment_view">
                                            <p class="comment">
                                                <span class="lnr lnr-bubble"></span>45</p>
                                            <p class="view">
                                                <span class="lnr lnr-eye"></span>345</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn_text">
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the
                                        mattis, leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo consequat. Duis aute irure dolor in henderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat sunt in culpa qui officia
                                        sunt in culpa qui officia.</p>
                                    <a href="single-blog.html" class="btn btn--md btn--round">Read More</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end /.single_blog -->

                    <div class="single_blog blog--default">
                        <figure>
                            <img src="images/bb3.jpg" alt="Blog image">

                            <figcaption>
                                <div class="blog__content">
                                    <a href="#" class="blog__title">
                                        <h4>20+ Best Free HTML Resume Templates</h4>
                                    </a>

                                    <div class="blog__meta">
                                        <div class="author">
                                            <span class="lnr lnr-user"></span>
                                            <p>by
                                                <a href="#">AazzTech</a>
                                            </p>
                                        </div>
                                        <div class="date_time">
                                            <span class="lnr lnr-clock"></span>
                                            <p>24 Feb 2017</p>
                                        </div>
                                        <div class="comment_view">
                                            <p class="comment">
                                                <span class="lnr lnr-bubble"></span>45</p>
                                            <p class="view">
                                                <span class="lnr lnr-eye"></span>345</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn_text">
                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the
                                        mattis, leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo consequat. Duis aute irure dolor in henderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat sunt in culpa qui officia
                                        sunt in culpa qui officia.</p>
                                    <a href="single-blog.html" class="btn btn--md btn--round">Read More</a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <!-- end /.single_blog -->
                </div>
                <!-- end /.col-md-8 -->

                <div class="col-lg-4">
                    <aside class="sidebar sidebar--blog">
                        <div class="sidebar-card card--search card--blog_sidebar">
                            <div class="card-title">
                                <h4>Product Information</h4>
                            </div>
                            <!-- end /.card-title -->

                            <div class="card_content">
                                <form action="#">
                                    <div class="searc-wrap">
                                        <input type="text" placeholder="Search product here...">
                                        <button type="submit" class="search-wrap__btn">
                                            <span class="lnr lnr-magnifier"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- end /.card_content -->
                        </div>
                        <!-- end /.sidebar-card -->

                        <div class="sidebar-card sidebar--post card--blog_sidebar">
                            <div class="card-title">
                                <!-- Nav tabs -->
                                <ul class="nav post-tab" role="tablist">
                                    <li>
                                        <a href="#popular" class="active" id="popular-tab" aria-controls="popular" role="tab" data-toggle="tab" aria-selected="true">Popular Posts</a>
                                    </li>
                                    <li>
                                        <a href="#latest" id="latest-tab" aria-controls="latest" role="tab" data-toggle="tab" aria-selected="false">Latest Posts</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.card-title -->

                            <div class="card_content">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active fade show" id="popular" aria-labelledby="popular-tab">
                                        <ul class="post-list">
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb1.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>5 best jQuery form validation plugins you must try</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>Best free jQuery image gallery plugins 2017</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>10 Free Joomla! Templates</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>10 Free Joomla! Templates</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end /.post-list -->
                                    </div>
                                    <!-- end /.tabpanel -->

                                    <div role="tabpanel" class="tab-pane fade" id="latest" aria-labelledby="latest-tab">
                                        <ul class="post-list">
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>Best free jQuery image gallery plugins 2017</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb1.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>5 best jQuery form validation plugins you must try</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>The story of revolution</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumbnail_img">
                                                    <img src="images/blog_thumb2.jpg" alt="blog thumbnail">
                                                </div>
                                                <div class="title_area">
                                                    <a href="#">
                                                        <h4>The story of revolution</h4>
                                                    </a>
                                                    <div class="date_time">
                                                        <span class="lnr lnr-clock"></span>
                                                        <p>24 Feb 2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end /.post-list -->
                                    </div>
                                    <!-- end /.tabpanel -->
                                </div>
                                <!-- end /.tab-content -->
                            </div>
                            <!-- end /.card_content -->
                        </div>
                        <!-- end /.sidebar-card -->

                        <div class="sidebar-card card--blog_sidebar card--category">
                            <div class="card-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="collapsible-content">
                                <ul class="card-content">
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Wordpress
                                            <span class="item-count">35</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Support Center
                                            <span class="item-count"> 45</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>General Topics
                                            <span class="item-count">13</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Pre-Sales
                                            <span class="item-count">08</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Purchases
                                            <span class="item-count">34</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Billing
                                            <span class="item-count">78</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="lnr lnr-chevron-right"></span>Testimonials
                                            <span class="item-count">26</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.collapsible_content -->
                        </div>
                        <!-- end /.sidebar-card -->

                        <div class="sidebar-card card--blog_sidebar card--tags">
                            <div class="card-title">
                                <h4>Categories</h4>
                            </div>

                            <ul class="tags">
                                <li>
                                    <a href="#">Branding</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                                <li>
                                    <a href="#">Marketing</a>
                                </li>
                                <li>
                                    <a href="#">Development</a>
                                </li>
                                <li>
                                    <a href="#">Branding</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                                <li>
                                    <a href="#">Marketing</a>
                                </li>
                                <li>
                                    <a href="#">Development</a>
                                </li>
                            </ul>
                            <!-- end /.tags -->
                        </div>
                        <!-- end /.sidebar-card -->

                        <div class="banner">
                            <img src="images/banner.jpg" alt="Banner">
                            <div class="banner_content">
                                <h1>Banner</h1>
                                <p>360x270</p>
                            </div>
                        </div>
                        <!-- end /.banner -->
                    </aside>
                    <!-- end /.aside -->
                </div>
                <!-- end /.col-md-4 -->

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    {% include 'home/footer.html' %}

    {% endblock %}
</body>


<!-- Mirrored from demo.aazztech.com/theme/html/martplace/dist/blog2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Sep 2020 15:07:11 GMT -->
</html>